@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    background-color: #121212; 
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/*------------ Navbar ---------------*/ 

nav{
    width: 100%;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FF151F;
}

.search-bar{
    padding: 0.6rem 1rem;
    border: 1px solid #b00e15;
    border-radius: 5px;
}

.search-bar input{
    background: transparent;
    width: 30vw;
    height: 3vh;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #FF151F;
    color: #fbfbfb;
    
}

.create{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.btn{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    color: #fbfbfb;
    background-color: #b00e15;
}

.btn:hover{
    opacity: 0.8;
    color: #121212;
}

.profile-picture{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}


/*-------------- Main -----------------*/

.main-container{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 5.4rem;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    height: 70%;
}


/*------------------ Left Side-------------------*/
.left{
    height: max-content;
    position: sticky;
    top:5.4rem;
    max-width: 10vw;
    color: #FF151F;
}

.profile{
    justify-content:center;
    text-align: center;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    z-index: 5;
}
   
.menu-item{
        text-decoration: none;
        list-style: none;
        color: #b00e15;
        display: flex;
        height: 4rem;
        cursor: pointer;
        transition: all 300ms ease;
        position: relative;
}

.left .sidebar {
    font-size: 1.4 rem;
    margin-left: 2 rem;
    position: relative;
}

.notification-count{
    border: 1.5px solid #b00e15;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    position: absolute;
    top: -0.1rem;
    right: 8.1 rem;
}

.sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}

/*---------- Notification Popup -----------*/

.notification-popup{
     position: absolute;
     top: 0;
     left: 110%;
     width: 30rem;
     background-color: whitesmoke;
     border: solid 3px  #b00e15;
     border-radius: 0.5rem; ;
     /* box-shadow: 0 0 1rem red; */

     display: none;
}

.notification-popup::before{
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background-color: whitesmoke ;
    border: solid 1px  whitesmoke;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.notification-popup > div{
    display: flex;
    align-items: start;
    gap: 0.5rem;
    margin-bottom: 0.1rem;
}

.notification-popup small{
    display: block;
}


/*------------------ Middle -------------------*/
.middle{
    max-width: 60vw;
    margin-right: 10px;
    color: #FF151F;
}

.all-story{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 5rem;
    gap: 0.3rem;
    font-size: 0.7rem;
    overflow: hidden;
    border: solid 1px whitesmoke;
    border-radius: 8px;
}

.story:hover{
    border:solid 2px white;
    border-radius: 5px;
}

.profile-photo{
    width: 2.7rem;
    border-radius: 2rem;
    overflow: hidden;
}

.post{
    border: solid 1px whitesmoke;
    border-radius: 8px;
    width: 45vw;
}

.create-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    border-radius: 2rem;
}

#create-post{
    border: solid 2px #b00e15;
    width: 28vw;
    height: 2.5vw;
    color: #fbfbfb;
}

/*----------------- Feeds ---------------*/
.feed{
    border-radius: 0.3rem;
    margin:1rem 0;
    font-size: 0.85 rem;
    line-height: 1.5;
}

.head{
    display: flex;
    justify-content: space-between;
}

.feed-whole{
    margin:auto;
    margin-top: 0.5rem;
    font-size: 0.85 rem;
    line-height: 1.5;
    border: solid 1px whitesmoke;
    border-radius: 0.3rem;
}

.like:hover{
     background-color: #b00e15;
}

.user{
    display: flex;
    gap: 1rem;
}

.photo{
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.2rem 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h5{
    margin-bottom: -1.25rem;
}

.action-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.liked-by{
    display: flex;
}

.liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid whitesmoke;
    margin-left: -0.6rem;
}

.liked-by spam:first-child{
    margin: 0;
}

.liked-by p{
    margin-left: 0.5rem;
}


/*------------------ Right Side -------------------*/
.right{
    color: #b00e15;
    border: solid 1px whitesmoke;
    max-width: 20vw;
    margin-right: 5px;
    position: sticky;
    top: -18rem;
    bottom: 0;
    height: fit-content;
}

.messages{
    border-radius: 2rem;
    padding: 2rem;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.messages i{
    font-size: 1.4rem;
}

.search-bar{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid whitesmoke;
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

.active{
    border-color: #FF151F;
}

.message{
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: flex-start;
}

.message:last-child{
    margin: 0;
}

.message p{
    font-size: 0.8rem;
}

.profile-photo{
    position: relative;
    overflow: visible;
}

.profile-photo img{
    border-radius: 50%;
}

.message-request{
    color: aqua;
}

/*------------- Friend Request -------------*/
.friend-request{
    margin-top: 1rem;
}

.whole-request{
    border: solid 1px whitesmoke;
}

.friend-request h4{
    color: grey;
    margin-bottom: 1rem;
}

.request{
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: -1.3rem;
}


.info{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

.request .action{
    display: flex;
    gap: 1rem;
}

