<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    background-color: #121212; 
}

body{
    font-family: 'Poppins', sans-serif;
    color: #FF151F;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/*------------ Navbar ---------------*/ 

nav{
    width: 100%;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar{
    padding: 0.6rem 1rem;
    border: 1px solid #b00e15;
    border-radius: 5px;
}

.search-bar input{
    background: transparent;
    width: 30vw;
    height: 3vh;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #b00e15;
    color: #fbfbfb;
    
}

.create{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.btn{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    color: #fbfbfb;
    background-color: #b00e15;
}

.btn:hover{
    opacity: 0.8;
    color: #121212;
}

.profile-picture{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}


/*-------------- Main -----------------*/

.main-container{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 5.4rem;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}


/*------------------ Left Side-------------------*/
.left{
    height: max-content;
    position: sticky;
    top:5.4rem;
    max-width: 10vw;
}

.profile{
    justify-content:center;
    text-align: center;
    border: solid 1px whitesmoke;
    border-radius: 10px;
}
   
.menu-item{
        text-decoration: none;
        list-style: none;
        color: #FF151F;
        display: flex;
        height: 4rem;
        cursor: pointer;
        transition: all 300ms ease;
        position: relative;
}

.left .sidebar {
    font-size: 1.4 rem;
    margin-left: 2 rem;
    position: relative;
}

.notification-count{
    border: 1.5px solid #b00e15;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    position: absolute;
    top: -0.1rem;
    right: 8.1 rem;
}

.sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}

/*---------- Notification Popup -----------*/

.notification-popup{
     position: absolute;
     top: 0;
     left: 110%;
     width: 30rem;
     background: whitesmoke;
     border-radius: 2rem; ;
     box-shadow: 0 0 1rem red;
     z-index: 8;
     display: none;
}

.notification-popup::before{
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: whitesmoke ;
    border: solid 1px  whitesmoke;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.notification-popup > div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.notification-popup small{
    display: block;
}







/*------------------ Middle -------------------*/
.middle{
    /* border: solid 2px red; */
    max-width: 80vw;
    margin-right: 10px;
}

.all-story{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 5rem;
    gap: 0.3rem;
    font-size: 0.7rem;
    overflow: hidden;
    border: solid 1px whitesmoke;
    border-radius: 8px;
}

.profile-photo{
    width: 2.7rem;
    border-radius: 2rem;
    overflow: hidden;
}

.post{
    border: solid 1px whitesmoke;
    border-radius: 8px;
    width: 42vw;
}

.create-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    border-radius: 2rem;
}

#create-post{
    border: solid 2px #FF151F;
    width: 15vw;
    color: #fbfbfb;
}

/*--------- Feeds ---------*/
.feed{
    border-radius: 2rem;
    margin:1rem 0;
    font-size: 0.85 rem;
    line-height: 1.5;
    border: solid 2px whitesmoke;
    border-radius: 5px;
}

.head{
    display: flex;
    justify-content: space-between;
}

.user{
    display: flex;
    gap: 1rem;
}

.photo{
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.7rem 0;
}

.action-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.liked-by{
    display: flex;
}

.liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid whitesmoke;
    margin-left: -0.6rem;
}

.liked-by spam:first-child{
    margin: 0;
}

.liked-by p{
    margin-left: 0.5rem;
}












/*------------------ Right Side -------------------*/
.right{
    border: solid 2px red;
    max-width: 20vw;
    margin-right: 5px;
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    background-color: #121212; 
}

body{
    font-family: 'Poppins', sans-serif;
    color: #FF151F;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/*------------ Navbar ---------------*/ 

nav{
    width: 100%;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar{
    padding: 0.6rem 1rem;
    border: 1px solid #b00e15;
    border-radius: 5px;
}

.search-bar input{
    background: transparent;
    width: 30vw;
    height: 3vh;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #b00e15;
    
}

.create{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.btn{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    color: #fbfbfb;
    background-color: #b00e15;
}

.btn:hover{
    opacity: 0.8;
    color: #121212;
}

.profile-picture{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}


/*-------------- Main -----------------*/

.main-container{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 5.4rem;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}


/*------------------ Left Side-------------------*/
.left{
    height: max-content;
    position: sticky;
    top:5.4rem;
    max-width: 10vw;
}

.profile{
    justify-content:center;
    text-align: center;
    border: solid 2px grey;
    border-radius: 10px;
}
   
.menu-item{
        text-decoration: none;
        list-style: none;
        color: #FF151F;
        display: flex;
        height: 4rem;
        cursor: pointer;
        transition: all 300ms ease;
        position: relative;
}

.left .sidebar {
    font-size: 1.4 rem;
    margin-left: 2 rem;
    position: relative;
}

.notification-count{
    background: grey;
    color: wheat;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    position: absolute;
    top: -0.1rem;
    right: 8.1 rem;
}

.sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}

/*---------- Notification Popup -----------*/

.notification-popup{
     position: absolute;
     top: 0;
     left: 110%;
     width: 30rem;
     background: white;
     border-radius: 2rem; ;
     box-shadow: 0 0 1rem red;
     z-index: 8;
     display: none;
}

.notification-popup::before{
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: whitesmoke ;
    border: solid 2px  aquamarine;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.notification-popup > div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.notification-popup small{
    display: block;
}







/*------------------ Middle -------------------*/
.middle{
    border: solid 2px red;
    max-width: 80vw;
    margin-right: 10px;
}

.all-story{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 4rem;
    gap: 0.3rem;
    font-size: 0.7rem;
    overflow: hidden;
}

.profile-photo{
    width: 2.7rem;
    /* aspect-ratio: 1/1; */
    border-radius: 2rem;
    overflow: hidden;
}

.create-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    border-radius: 2rem;
}

#create-post{
    border: solid 2px #FF151F;
    width: 15vw;
}

















/*------------------ Right Side -------------------*/
.right{
    border: solid 2px red;
    max-width: 20vw;
    margin-right: 5px;
>>>>>>> 48579eb6ddbda8dd338b99aa56884fd1cdd19ece
}