@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');


:root{
--black: #121212;
/* --gradient: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(32,28,28,1) 56%, rgba(18,18,18,1) 92%); */
--white: whitesmoke;
--light-white:#fbfbfb;
--grey: grey;
--dark-red: #FF151F;
--light-red: #b00e15;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--black); 
}

.container{
    width: 80%;
    margin: 0 auto;
}

/*------------ Navbar ---------------*/ 

nav{
    width: 100%;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--black);
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-red);
    height: 100%;
    width: 100%;
}

.search-bar{
    padding: 0.6rem 1rem;
    border: 1px solid var(--light-red);
    border-radius: 5px;
}

.search-bar input{
    background: transparent;
    width: 30vw;
    height: 3vh;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: var(--dark-red);
    color: var(--light-grey);
    
}

.create{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.btn{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    color: var(--light-white);
    background-color: var(--light-red);
}

.btn:hover{
    opacity: 0.8;
    color: var(--black);
}

.profile-picture{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}


/*-------------- Main -----------------*/

.main-container{
    width: 80%;
    margin: 1rem auto;
    position: relative;
    top: 5.4rem;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    height: 70%;
}


/*------------------ Left Side-------------------*/
.left{
    height: max-content;
    position: sticky;
    top:5.4rem;
    max-width: 10vw;
    color: var(--dark-red);
}

.profile{
    justify-content:center;
    text-align: center;
    border: solid 1px var(--grey);
    border-radius: 10px;
}
   
.menu-item{
        text-decoration: none;
        list-style: none;
        color: var(--light-red);
        display: flex;
        height: 4rem;
        cursor: pointer;
        transition: all 300ms ease;
        position: relative;
}

.left .sidebar {
    font-size: 1.4 rem;
    margin-left: 2 rem;
    position: relative;
}

/* .notification-count{
    border: 1.5px solid var(--light-red);
    border-radius: 10px;
    color: var(--grey);
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    position: absolute;
    top: -0.1rem;
    right: 8.1 rem;
} */

.sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}

/*---------- Notification Popup -----------*/

.notification-popup{
     margin-top: 4vh;
     max-width: 90rem;
     /* background-color: var(--white); */
     border: solid 3px  var(--light-red);
     border-radius: 0.5rem; ;
}

.notification-popup > div{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.notification-popup small{
    display: flex;
    
}

/*--------------- Theme Customization -------------*/
.menu-item .theme{
    color: #FF151F;
}

.switch{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: solid 1px grey;
    cursor: pointer;
}
#light{
    background-color: #fbfbfb;
}
#dark{
    background-color: #121212;
}





/*------------------ Middle -------------------*/
.middle{
    max-width: 60vw;
    margin-right: 10px;
    color: var(--dark-red);
}

.all-story{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 5rem;
    gap: 0.3rem;
    font-size: 0.7rem;
    overflow: hidden;
    border: solid 1px var(--grey);
    border-radius: 8px;
    /* max-width: 97vh; */
}

.story .profile-photo{
   border:solid 3px darkred;
    border-radius: 50%;
}

.story .profile-photo:hover{
    border:solid 2px var(--dark-red);
    border-radius: 50%;
}

/* .profile-photo :hover{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
} */

.profile-photo{
    width: 2.7rem;
    border-radius: 2rem;
    overflow: hidden;
    z-index: 0 !important;
}

.post{
    border: solid 1px var(--grey);
    border-radius: 8px;
    /* width: 94vh; */
}

.create-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    border-radius: 2rem;
}

#create-post{
    border: solid 2px var(--light-red);
    width: 28vw;
    height: 2.5vw;
    color: var(--light-grey);
}

/*----------------- Feeds ---------------*/
.feed{
    border-radius: 0.1rem;
    margin:1rem 0;
    font-size: 0.85 rem;
    line-height: 1.5;
}

.hidden-text{
    visibility: hidden;
}

.head{
    display: flex;
    justify-content: space-between;
}

.feed-whole{
    /* margin:auto; */
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 0.85 rem;
    line-height: 1.5;
    border: solid 1px var(--grey);
    border-radius: 0.3rem;
    max-width: 94vh;
}

.like:hover{
     background-color: var(--light-red);
}

.user{
    display: flex;
    gap: 1rem;
}

.photo{
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.2rem 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h5{
    margin-bottom: -1.25rem;
}

.action-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.liked-by{
    display: flex;
}

.liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--white);
    margin-left: -0.6rem;
}

.liked-by spam:first-child{
    margin: 0;
}

.liked-by p{
    margin-left: 0.5rem;
}


/*------------------ Right Side -------------------*/
.right{
    color: var(--light-red);
    border: solid 1px var(--grey);
    border-radius: 1rem;
    max-width: 20vw;
    margin-right: 5px;
    position: sticky;
    top: -18rem;
    bottom: 0;
    height: fit-content;
}

.messages{
    border-radius: 2rem;
    padding: 2rem;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.messages i{
    font-size: 1.4rem;
}

.search-bar{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--grey);
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

.category h6:hover{
    border-bottom: 4px solid red;
}

.active{
    border-color: var(--dark-red);
}

.message{
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: flex-start;
}

.message:last-child{
    margin: 0;
}

.message p{
    font-size: 0.8rem;
}

.profile-photo{
    position: relative;
    overflow: visible;
}

.profile-photo img{
    border-radius: 50%;
}


/*------------- Friend Request -------------*/
.friend-request{
    margin-top: 1rem;
}

.whole-request{
    border: solid 1px var(--grey);
}

.friend-request h4{
    color: grey;
    margin-bottom: 1rem;
}

.request{
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: -1.3rem;
}

.btn-request{
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    color: var(--light-white);
    background-color: var(--light-red);
}

.info{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

.request .action{
    display: flex;
    gap: 1rem;
}


/* User-Form */
.user-form{
    color: #FF151F;
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10vh;
    /* border: solid 1px grey; */
}

.user-form h1{
     justify-content: center;
     text-align: center;
     align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; 
    margin-top: -1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.row input{
    display: flex;
    flex-direction: row;
}

.form-check {
    display: inline-block;
    padding-left: 5.5em;
    margin-bottom: 0.125rem;
}



/*---------- Media Query ----------*/

@media screen and (max-width:1440px) {
    #messages-notification h5,
    #notification h5{
        font-size: small;
    }
}

@media screen and (max-width:1390px) {
    .btn-request{
        display: none;
    }
}

@media screen and (max-width:1335px) {
    .search-bar i{
        display: none;
    }
}

@media (max-width:1335px) and (min-width:1050px) {
    .message-body,.request,.menu-item h5{
        font-size: medium;
    }
    .btn-request{
        display: none;
    }
    .category h6{
        display: none;
    }
    .messages p,.whole-request p{
        justify-content: flex-start;
        font-size: small ;
    }
    .messages h5{
        font-size: medium;
    }
    .whole-request h5{
        font-size: medium;
    }
}

@media (max-width:1050px) and (min-width:850px) {
    .menu-item h5{
        display: none;
    }
    .menu-item i{
        position: absolute; 
        left: 0;
    }
    .btn-request,.left .profile-picture,.handle h5,.right{
        display: none;
    }
    .category h6{
        display: none;
    }
    .messages .search-bar{
        display: none;
    }
    .profile{
        visibility: hidden;
    }
}

@media screen and (max-width:912px) {
    .post{
        display: none;
    }
}
@media (max-width:850px) and (min-width:690px) {
    .menu-item h5{
        display: none;
        position: relative;
        right: 0;
    }
    .btn-request,.left .profile-picture,.handle h5,.right{
        display: none;
    }
    .category h6{
        display: none;
    }
    .messages .search-bar{
        display: none;
    }
    .post,.search-bar{
        display: none;
    }
    .profile{
        visibility: hidden;
    }
}

@media (max-width:690px) and (min-width:585px) {
    .menu-item h5{
        display: none;
        position: relative;
        right: 0;
    }
    .btn-request,.left .profile-picture,.handle h5,.right{
        display: none;
    }
    .category h6,.name{
        display: none;
    }
    .messages .search-bar{
        display: none;
    }
    .post,.search-bar{
        display: none;
    }
    .profile{
        visibility: hidden;
    }
}

@media (max-width:585px) and (min-width:400px) {
    .menu-item h5{
        display: none;
        position: relative;
        right: 0;
    }
    .btn-request,.left .profile-picture,.handle h5,.right{
        display: none;
    }
    .category h6,.name{
        display: none;
    }
    .messages .search-bar{
        display: none;
    }
    .post,.search-bar{
        display: none;
    }
    .feed-whole small{
        display: none;
    }
    .profile{
        visibility: hidden;
    }
}

@media (max-width:400px) and (min-width:350px) {
    .menu-item h5{
        display: none;
        position: relative;
        right: 0;
    }
    .btn-request,.left .profile-picture,.handle h5,.right{
        display: none;
    }
    .category h6,.name{
        display: none;
    }
    .messages .search-bar{
        display: none;
    }
    .post,.search-bar{
        display: none;
    }
    .feed-whole small{
        display: none;
    }
    .feed-whole h5{
        font-size: medium;
    }
    .profile{
        visibility: hidden;
    }
}
